/* main Layout */

.layout{
    min-height: calc(100vh - 277px);
    padding-bottom: var(--krds-pc-gap-layout-contents-footer);
}
.in-between{
    display: flex;
    align-items: normal;
    justify-content: flex-start;
    flex-direction: row;
    gap: var(--krds-gap-12);
}
.contents{
    width:100%;
}

/* lnb(sideMenu) */
.krds-side-navigation{
    flex-shrink: 0;
    width: 24.8rem;
    padding: var(--krds-padding-8) 0 0;
    border: none;
}

/* Headeer */
#krds-header{
    border-bottom: 0.1rem solid var(--krds-color-light-gray-20);
}
#krds-header .left{
    margin-left:20px;
}
.header-actions button a{
    font-weight: 700;
}
.header-actions button a.active{
    color: #246BEB;
    font-weight: 700;
}

.conts-area{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: var(--krds-gap-9);
    position: relative;
    width: 100%;
    height: 100%;
}
.conts-wrap{
    margin-bottom:var(--krds-number-9);
}

.krds-side-navigation .lnb-list .lnb-item.active .lnb-btn:not(.lnb-toggle-popup)::after{
    transform: rotate(180deg);
}

.krds-side-navigation .lnb-list .lnb-item .lnb-submenu .lnb-subitem.active .lnb-btn,
.krds-side-navigation .lnb-list .lnb-item .lnb-submenu .lnb-subitem.active .lnb-submenu-lv2 ul li.active .lnb-btn{
    color: var(--krds-side-navigation--color-text-selected);
    font-weight: var(--krds-font-weight-bold);
    background-color: var(--krds-side-navigation--color-action-selected);
}

.krds-side-navigation .lnb-list .lnb-item .lnb-submenu .lnb-subitem.active .lnb-submenu-lv2 .lnb-btn{
    color:black;
    font-weight: var( --krds-typo-font-weight-regular);
    background-color:transparent;
}

.krds-main-menu .gnb-menu .gnb-main-trigger.active::before{
    bottom: -1.6rem;
}

.krds-breadcrumb-wrap .breadcrumb {
    flex-wrap:wrap;
}

/* Pagination */
.krds-pagination .page-navi.disabled {
	color: #8a949e
}

/* Search Wrap */
.search-wrap{
    display: flex;
    gap: 1rem;
    margin-bottom: var(--krds-number-9);
}
.search-body{
    display:flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
}
.search-wrap .searchOption{
    width: auto;
    flex-grow: 1;
}
.search-wrap  .searchKeyword{
    width: auto;
    flex-grow: 3;
}
.search-wrap .search-tit{
    align-self: center;
    text-wrap: nowrap;
}

/* btn wrap*/
.page-btn-wrap{
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    /*margin-top: var(--krds-number-7);*/
}
.page-btn-wrap .btn-wrap{
    display: flex;
    gap: 1rem;
    width:auto;
}

/* input-form */
.input-form{
    border: 1px solid;
    border-radius: var(--krds-number-6);
    padding: var(--krds-number-9);
    margin: var(--krds-number-9) 0;
}

/* dd */
.def-list-wrap .def-list {
    display: flex;
    flex-wrap: wrap;
    gap: var(--krds-gap-5) 0;
    border-top: var(--krds-light-border-width-variable-regular) solid var(--krds-light-color-divider-gray);
    border-bottom: var(--krds-light-border-width-variable-regular) solid var(--krds-light-color-divider-gray);
    padding: var(--krds-padding-8) 0;
}

.def-list-wrap .def-list > dt {
    width: 18rem;
    margin-right: var(--krds-gap-7);
    font-weight: var(--krds-font-weight-bold);
}

.def-list-wrap .def-list > dd {
    width: calc(100% - (18rem + var(--krds-gap-7)));
}

/* table */
.krds-table-wrap .tbl.data tbody td {
    word-break: break-word;
}
.krds-table-wrap .tbl.data .text-center, .krds-table-wrap .tbl.data .text-center a{
    text-align: center;
}

/* title*/
.heading-large{
    margin-bottom: 1.5rem;
}